@font-face {
    font-family: "TextFont";
    src: url(/assets/font/Mplus1-Regular.woff2);
    /*src: url(../font/Mplus1-Regular.woff2);*/
    font-display: swap;
}

@font-face {
    font-family: "BoldFont";
    src: url(/assets/font/Mplus1-SemiBold.woff2);
    /*src: url(../font/Mplus1-SemiBold.woff2);*/
    font-display: swap;
}

:root {
    --AccentColor: #86b300;
    --LinkColor: #8bb900;
    --SubAccentColor: #ff9100;

    --BaseColor: #000000;

    --BlockTextColor: #FFFFFF;
    --BlockBaseColor: #1b1b1b;

    --BlockRadius: 16px;

    --TextFont: "TextFont", "system-ui";
    --BoldFont: "BoldFont", "system-ui";
}

body {
    background-color: var(--BaseColor);
}

header {
    background-color: var(--BlockBaseColor);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 6px;
}

header h1 {
    color: var(--AccentColor);
    font-family: var(--BoldFont);
    font-weight: bold;
    font-size: clamp(16px, 7vw, 26px);
}

header button {
    border: 0;
}

header img {
    width: 30px;
}

.block {
    background-color: var(--BlockBaseColor);
    width: 80%;
    min-height: 100px;
    margin: 30px auto 30px auto;
    padding: 16px;
    border-radius: var(--BlockRadius);
}

.lookBlock {
    border-color: var(--AccentColor);
}

.h1 {
    color: var(--BlockTextColor);
    margin: 6px 0 6px 0 ;
    font-family: var(--BoldFont);
    font-size: clamp(20px, 9vw, 34px);
    border-bottom: solid 3px var(--AccentColor);
    border-left: solid 3px var(--AccentColor);
}

#Content {
    background-color: var(--BlockBaseColor);
    width: 80%;
    min-height: 100px;
    margin: 30px auto 30px auto;
    padding: 16px;
    border-radius: var(--BlockRadius);
}

#Content * {
    font-family: "TextFont", "system-ui";
}

#Content,#Content div,#Content span,#Content p {
    color: var(--BlockTextColor);
    font-size: clamp(12px, 5.5vw, 16px);
    line-height: 1.4;
}

#Content h1 {
    color: var(--BlockTextColor);
    margin: 6px 0 6px 0 ;
    font-family: var(--BoldFont);
    font-size: clamp(20px, 9vw, 34px);
    padding-left: 8px;
    border-bottom: solid 3px var(--AccentColor);
    border-left: solid 3px var(--AccentColor);
}

#Content h2 {
    color: var(--BlockTextColor);
    margin: 6px 0 6px 0 ;
    font-family: var(--BoldFont);
    font-size: clamp(18px, 8vw, 32px);
    padding-left: 8px;
    border-left: solid 3px var(--AccentColor);
}

#Content h3 {
    color: var(--BlockTextColor);
    margin: 6px 0 6px 0 ;
    padding-left: 7px;
    font-family: var(--TextFont);
    font-size: clamp(16px, 7vw, 26px);
    border-left: solid 2px var(--AccentColor);
}

#Content h4 {
    color: var(--BlockTextColor);
    margin: 6px 0 6px 0 ;
    padding-left: 7px;
    font-family: var(--TextFont);
    font-size: clamp(14px, 6.5vw, 24px);
    border-left: solid 2px var(--AccentColor);
}

#Content h5 {
    color: var(--BlockTextColor);
    margin: 6px 0 6px 0 ;
    padding-left: 7px;
    font-family: var(--TextFont);
    font-size: clamp(12px, 6vw, 22px);
    border-left: solid 2px var(--AccentColor);
}

#Content h6 {
    color: var(--BlockTextColor);
    margin: 6px 0 6px 0 ;
    padding-left: 7px;
    font-family: var(--TextFont);
    font-size: clamp(12px, 5.5vw, 18px);
    border-left: solid 2px var(--AccentColor);
}

#Content a {
    color: var(--LinkColor);
    font-weight: bold;
    text-decoration: underline;
    font-size: clamp(12px, 5.5vw, 16px);
}

#Content blockquote {
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 6px;
    border-left: solid 3px var(--SubAccentColor);
}

#Share {
    display: flex;
    gap: 6px;
    justify-content: left;
}

#Share button,#Share a,#Share a:link,#Share a:visited{
    color: var(--BlockTextColor);
    padding: 3px 6px 3px 6px;
    border: 0;
    border-radius: 3px;
}

#Share .copy {
    background-color: #9f9f9f;
}

#Share .twitter {
    background-color: #1da1f2;
}

#Share .line {
    background-color: #00c300;
}

#Share .pocket {
    background-color: #ee4056;
}