<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }} - Misskey wiki</title>
    <link rel="stylesheet" href="/assets/css/flat.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/main.js"></script>
  </head>
  <body>
    <header>
        <h1>MisskeyWiki</h1>
        <button><img src="/assets/img/icon/menu.webp" alt="Menu"></button>
    </header>

    <div id="Content">
        {{ content }}
    </div>
    <div class="block">
        <h1 class="h1">この記事を共有する</h1>
        <div id="Share" >
            <button class="copy" onclick="Core.Copy();">Copy</button>
            <button class="twitter" onclick="Core.Twitter();">Twitter</button>
            <button class="line" onclick="Core.Line();">LINE</button>
            <button class="pocket" onclick="Core.Pocket();">Pocket</button>
        </div>
    </div>
  </body>
</html>